<template>
    <div class="row justify-content-center">
        <incomes></incomes>            
        <expenses></expenses>     
    </div>    
</template>
<script>
export default {
    
}
</script>

