<template>
    <tr>
        <th scope="row">{{ expense.id }} </th>
            <td v-if="modeEdit"><input  v-model="expense.conceptExpense" type="text" class="form-control" ></td>
            <td v-else> {{ expense.conceptExpense }}</td>
            <td v-if="modeEdit">  <input  v-model="expense.quantityExpense" type="text" class="form-control" ></td>
            <td v-else> {{ expense.quantityExpense }} </td>

        <td> {{ expense.created_at }}</td>
        <th>
            
            <button v-if="modeEdit" type="button" class="btn btn-outline-success btn-sm" v-on:click="onClickUpdate()" >Guardar</button>
            <button v-else type="button" class="btn btn-outline-secondary btn-sm" v-on:click="onClickEdit()" >Editar</button>
            <button type="button" class="btn btn-outline-danger btn-sm" v-on:click="onClickDelete()">Eliminar</button>
        </th>
    </tr>
</template>

<script>
    export default {
        props:['expense'],
        data(){
            return {
                modeEdit: false
                
            }
        },
        mounted() {
            
        },
        methods:{
            onClickDelete(){   
                axios.delete(`/expenses/${this.expense.id}`)
                 .then(() => {
                     this.$emit('deleteExpense')
                 })  
                
            },
            onClickEdit(){
                this.modeEdit = true
            },
            onClickUpdate(){
                const params = {
                    quantityExpense: this.expense.quantityExpense,
                    conceptExpense: this.expense.conceptExpense
                };
                axios.put(`/expenses/${this.expense.id}`, params)
                 .then((response)=>{
                     this.modeEdit = false
                     const expense = response.data;
                    this.$emit('updateExpense', expense)
                 });
                
            }
        }
    }
</script>
<style scoped>
td input{
    max-width: 80px;
}

</style>

