<template>
    <div class="col-md-6">
        <new-expense @addNewExpense="addExpense"></new-expense>
        <br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha de egreso</th>
                    <th scope="col">Controles</th>
                </tr>
            </thead>
            <tbody>
                <expense-row 
                    v-for="(expense, index) in expenses" 
                    :key="expense.id"
                    :expense="expense"
                    @deleteExpense="deleteExpense(index)"
                    @updateExpense="updateExpense(index, ...arguments)">
                    </expense-row>


            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                expenses: []
            }
        },
        mounted() {
            axios.get('/expenses')
             .then((response) => {
                 this.expenses = response.data
             })   

        },
        methods: {
            addExpense(expense){
                this.expenses.push(expense)        
                
            },
            deleteExpense(index){
                this.expenses.splice(index, 1)    
                 
            },
            updateExpense(index, expense  ){
                this.expenses[index] = expense   
                  
            }
        }
    }
</script>
