<template>
    <div class="card">                                
    <form action="" v-on:submit.prevent="newExpense()">
        <div class="card-header">Nuevo Egreso</div>
        <div class="card-body">
            <div class="form-group">
                <label for="conceptoEgreso">Concepto del Egreso</label>
                <input type="text" name="conceptoEgreso" id="conceptoEgreso" class="form-control" placeholder="Concepto del Egreso" v-model="expense.conceptExpense">                      
            </div>
            <div class="form-group">
                <label for="cantidadEgreso">Cantidad del Egreso</label>
                <input type="number" name="cantidadEgreso" id="cantidadEgreso" class="form-control" placeholder="Cantidad del Egreso" v-model="expense.quantityExpense">                      
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
        
    </div>    
</template>

<script>
    export default {
        data(){
            return{
                expense: [{
                    conceptExpense: "",
                    quantityExpense: ""
                }]
            }
        },
        mounted() {
            
        },
        methods:{
            newExpense(){
                const params = {
                    conceptExpense: this.expense.conceptExpense,
                    quantityExpense: this.expense.quantityExpense,
                }
                this.expense.conceptExpense = ""
                this.expense.quantityExpense = ""
                axios.post('/expenses', params)
                 .then((response)=>{
                      const expense = response.data 
                      this.$emit('addNewExpense', expense);
                 })
            }
        }
    }
</script>
