<template>
    <tr>
        <th scope="row">{{ income.id }} </th>
            <td v-if="modeEdit"><input  v-model="income.conceptIncome" type="text" class="form-control" ></td>
            <td v-else> {{ income.conceptIncome }}</td>
            <td v-if="modeEdit">  <input  v-model="income.quantityIncome" type="text" class="form-control" ></td>
            <td v-else> {{ income.quantityIncome }} </td>

        <td> {{ income.created_at }}</td>
        <th>
            
            <button v-if="modeEdit" type="button" class="btn btn-outline-success btn-sm" v-on:click="onClickUpdate()" >Guardar</button>
            <button v-else type="button" class="btn btn-outline-secondary btn-sm" v-on:click="onClickEdit()" >Editar</button>
            <button type="button" class="btn btn-outline-danger btn-sm" v-on:click="onClickDelete()">Eliminar</button>
        </th>
    </tr>
</template>

<script>
    export default {
        props:['income'],
        data(){
            return {
                modeEdit: false
            }
        },
        mounted() {
            
        },
        methods:{
            onClickDelete(){   
                axios.delete(`/incomes/${this.income.id}`)
                 .then(() => {
                     this.$emit('deleteIncome')
                 })  
                
            },
            onClickEdit(){
                this.modeEdit = true
            },
            onClickUpdate(){
                const params = {
                    quantityIncome: this.income.quantityIncome,
                    conceptIncome: this.income.conceptIncome
                }
                axios.put(`/incomes/${this.income.id}`, params)
                 .then((response)=>{
                     this.modeEdit = false
                     const income = response.data;
                    this.$emit('updateIncome', income)
                 });
                
            }
        }
    }
</script>
<style scoped>
td input{
    max-width: 80px;
}

</style>

