<template>
    <div class="col-md-6">
        <new-income @addNewIncome="addIncome"></new-income>
        <br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha de ingreso</th>
                    <th scope="col">Controles</th>
                </tr>
            </thead>
            <tbody>
                <income-row 
                    v-for="(income, index) in incomes" 
                    :key="income.id"
                    :income="income"
                    @deleteIncome="deleteIncome(index)"
                    @updateIncome="updateIncome(index, ...arguments)">
                    </income-row>


            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                incomes: []
            }
        },
        mounted() {
            axios.get('/incomes')
             .then((response) => {
                 this.incomes = response.data
             })
        },
        methods: {
            addIncome(income){
                this.incomes.push(income)

            },
            deleteIncome(index){
                
                this.incomes.splice(index, 1)
                
            },
            updateIncome(index, income){
                this.incomes[index] = income
            }
        }
    }
</script>
