<template>
    <div class="card">                                
    <form action="" v-on:submit.prevent="newIncome()">
        <div class="card-header">Nuevo Ingreso</div>
        <div class="card-body">
            <div class="form-group">
                <label for="conceptoIngreso">Concepto del Ingreso</label>
                <input type="text" name="conceptoIngreso" id="conceptoIngreso" class="form-control" placeholder="Concepto del ingreso" v-model="income.conceptIncome">                      
            </div>
            <div class="form-group">
                <label for="cantidadIngreso">Cantidad del Ingreso</label>
                <input type="number" name="cantidadIngreso" id="cantidadIngreso" class="form-control" placeholder="Cantidad del ingreso" v-model="income.quantityIncome">                      
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
    </form>
        
    </div>    
</template>

<script>
    export default {
        data(){
            return{
                income: [{
                    conceptIncome: "",
                    quantityIncome: ""
                }]
            }
        },
        mounted() {
            
        },
        methods:{
            newIncome(){
                const params = {
                    conceptIncome: this.income.conceptIncome,
                    quantityIncome: this.income.quantityIncome,
                }
                this.income.conceptIncome = ""
                this.income.quantityIncome = ""
                axios.post('/incomes', params)
                 .then((response)=>{
                      const income = response.data 
                      this.$emit('addNewIncome', income);
                 })
                
              
               
    
            }
        }
    }
</script>
